@use '../../styles/variables' as *;
@use '../../styles/auth-page' as *;

.login-wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.login-page {
  @include auth-page-styles;

  max-width: 440px;

  &__password-wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
  }

  &__forgot-link {
    font-family: $font-main;
    font-size: 14px;
    font-weight: 500;
    color: $auth-link;
    text-align: right;
    margin-top: -0.5rem;
    margin-bottom: 1.5rem;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }
}
