@use 'variables' as *;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: $font-main;
  color: $charcoal-black;
  background-color: $pure-white;
  line-height: 1.6;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $font-heading;
  color: $primary-orange;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  cursor: pointer;
  border: none;
  outline: none;
  background: none;
  font-family: inherit;
}
